@import "variables";
@import "bootstrap";

.navbar-brand {
  @include text-hide();
  background-image: url(../img/logo@1x.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 72px 36px;
  width: 72px;
  height: 40px;

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url(../img/logo@2x.png);
  }
}

.navbar-expand {
  .navbar-nav {
    padding-right: .25rem;

    .nav-link {
      padding-right: .25rem;
      padding-left: .25rem;
    }
  }
}

.constrain {
  max-width: 30rem;
}
